#main-content > div {
    font-size: 125%;
}

#main-content > div > div {
    margin-top: 1rem;
}

#main-content a {
    color: black;
    text-decoration: none;
}

#main-content a:hover {
    color:cornflowerblue;
}