#main-content > div {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#main-content img {
    max-width: 100%;
}

.circular-img {
    border-radius: 50%;
}

.default-shadow {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}