html * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    height: 10vh;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
}

.header-background {
    background-color:whitesmoke;
    width:inherit;
    height:inherit;
    display:flex;
}

.header-div{
    flex:1;
    height:100%;
    width:100%;
    display:flex;
}

.header-text {
    /* border-style: dashed; */
    font-size:3vh;
    text-align: center;
    padding: 0.5vh 1vh 0.5vh 1vh;
    text-decoration: none;
}

.header-label:visited {
    text-decoration: none;
    color: black;
}

.header-label:link {
    text-decoration: none;
    color: black;
}

.header-text:hover {
    border-bottom: dotted black;
}

.sidelinks {
    z-index: .5;
    top: 35%;
    width: 5%;
    position: fixed;
}

.sidelinks-background {
    background-color: whitesmoke;
    width:100%;
    opacity: 0.5;
}

.sidelinks-background:hover {
    border-style:dashed;
    border-color:grey;
    opacity: 1;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 234, 209);
    padding-top: 8%;
    padding-bottom: 2%;
}

.intro-child{
    vertical-align: middle; 
    width:100%;
}

.aboutme-skills {
    display: flex;
    padding-left:3%;
    padding-right:3%;
    padding-top: 5%;
    padding-bottom: 5%;
}
  
.split {
    flex: 1;
}

.center-children{
    height: 100%;
    text-align: center;
    vertical-align: top;
}

.tag-list span {
    padding: 1vh 1.5vh;
    border: 1px dotted darkslategray;
    border-radius: 5px;
    margin: 0 1vh 1vh 0;
    display: inline-block;
    background-color: antiquewhite;
    opacity: 0.7;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-child{
    flex: 1;
}

.footer-text{
    color:whitesmoke;
    margin:auto;
    margin-top: 4%;
    margin-bottom: 4%;
    border-style: dashed;
    width:fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}