#main-content > div {
    width: 100%;
    height: 100%;
    max-height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-content > div > div {
    width: 30%;
    height: 100%;
    max-height: 100%;
    margin-right: 1%;
    overflow: scroll;
    text-align: center;
}

#main-content > div > div:hover {
    cursor: pointer;
    background-color: seashell;
}